<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>新增人员：</p>
    <form action="/doAdd" method="post">
        <span>姓名：</span>
        <input type="text" name="name">
        </br>
        <span>性别：</span>
        <input type="text" name="sex">
        </br>
        <button type="submit">提交</button>
    </form>
</body>

</html>